body{.wallpoet-regular {
    font-family: "Wallpoet", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}
 h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

#container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.filmsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.film-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.film-details {
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#film-poster {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

#buy-ticket {
  background-color: aqua;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#buy-ticket:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

